.divAllInfo {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    border-radius: 20px;

}

.dogProfilePic {
    flex: 40%;
    max-width: 100%;
    height: auto;
    border-radius: 25px;
    margin-top: 20px;



}

.dogData {
    flex: 40%;
    font-size: 15px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 10px;
}


@media (max-width: 450px) {
    .dogData, .dogProfilePic {
        flex: 100%;
        position: relative;
        justify-content: center;

    }
}