.App {
  background-image: url('wallpaper.jpg');
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: 100%;
}

.App-header {
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);

  }
}

.welcomeText {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 50px;
  background-color: white;
  border-style: groove;
  border-radius: 10px;
  border-color: black;
  padding-left: 30px;
  padding-right: 30px;
  text-shadow: 3px 3px black;
  font-family: "Lucida Console", "Courier New", monospace;
}

.mainScreen {
  min-height: 100vh;
  min-width: 100vw;
}