.App {
  text-align: center;
  /* background-color: #48f348; */
  background-image: url('grass.jpg');
 
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
  margin-top: 60px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 
  min-height:40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.boneButton{
  margin-top: 100px;
  height: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
 
}
.welcomeText{
  margin-top: 10px;
 
}
.mainScreen{
  min-height: 100vh;
}

.registerList{
  display: grid;
  padding: 2em;
  grid-template-columns: repeat(3, 1fr);
  

}
.dogImage{
  width: 180px;
  height: 300px;
  object-fit: cover;
  margin: 5px;
}

.dogImage:hover{
  transform: scale(1.2, 1.2);
}


